//sizes
$max-width: 1440px;
$mobile-width: 680px;

//colors
$primary-background-color: #fff;
$secondary-background-color: #000;

//fonts
$lato: 'Lato', sans-serif;
$smooch_sans: 'Smooch Sans', sans-serif;

//global style
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//mixin styles
@mixin button {
    outline: none;
    width: 163px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-family: $smooch_sans;
    font-size: 20px;
    cursor: pointer;
}

//main styles
.header {
    width: 100%;
    height: 80px;
    background-color: $secondary-background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: $smooch_sans;
    padding: 0 2rem;

    &__logo {
        font-size: 36px;
    }

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        list-style: none;
        font-size: 20px;

        @media only screen and (max-width: $mobile-width) {
            display: none;
        }

        &__link {
            cursor: pointer;
        }
    }

    &__button {
        background-color: #fff;
        color: #000;
        @include button;

        @media only screen and (max-width: $mobile-width) {
            display: none;
        }
    }

    &__burger {
        cursor: pointer;

        @media only screen and (min-width: $mobile-width) {
            display: none;
        }
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
}

.section {
    display: flex;

    align-items: center;
    width: 1151px;
    height: 404px;
    gap: 2.5rem;

    @media only screen and (max-width: $mobile-width) {
        flex-direction: column-reverse;
        width: 100%;
        padding: 0 1rem;
    }

    &__content {
        font-family: $lato;

        &__title {
            text-align: center;
            font-weight: 700;
            font-size: 40px;
            margin-bottom: 1rem;

            @media only screen and (max-width: $mobile-width) {
                font-size: 24px;
            }
        }

        &__description {
            text-align: center;
            font-size: 16px;
            line-height: 19.2px;
        }
    }

    &__img {
        width: 568px;
        height: 404px;

        @media only screen and (max-width: $mobile-width) {
            width: 100%;
        }
    }
}

footer {
    width: 100%;
    height: 60px;
    background-color: #e0e0e0;
    text-align: center;
    line-height: 60px;
    font-family: $smooch_sans;
    font-size: 16px;
    font-weight: 500;
}